**/.git
**/.svn
**/.hg
**/node_modules
**/.pnpm-store

build
coverage

pnpm-lock.yaml


src/i18n/i18n-react.tsx
src/i18n/i18n-types.ts
src/i18n/i18n-util.async.ts
src/i18n/i18n-util.sync.ts
src/i18n/i18n-util.ts